<%- include("../../partials/admin-header") -%>
<%- include("../../partials/admin-nav") -%>


        <div class="content-wrapper p-5">
         
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                <div class="align-items-baseline d-flex justify-content-between">
                        <p class="card-title">Interns</p>
                        <div>
                          <a href="/interns/new"   class="btn btn-primary">Add New</a>               
                        </div>

                  </div>

               <div class="table-responsive">
                              <table id="recent-purchases-listing" class="table">
                                <thead>
                                  <tr>
                                      <th>Image</th>
                                      <th>Name</th>
                                      <th>Position</th>
                                      <th>Actions</th>
                                  </tr>
                                </thead>
                                <tbody>


                    <% if(interns){ %>
                        <% interns.forEach((intern)=> {  %>
                          <tr>
                              <td><img src="<%= intern.img %>" alt=""></td>
                              <td><h4><%= intern.name %></h4></td> 
                              <td><h4><%= intern.position %></h4></td> 
                              <td class="text-center">
                                <input type="text" value="<%= JSON.stringify(intern) %>" class="d-none">
                                <button class="btn btn-danger px-3 py-2 deleteIntern">Delete</button>
                              </td>
                          </tr>   
                       <%  }) %>
                    <% } %> 

                         
                      </tbody>
                    </table>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>



<script src="/dashboard/custom/js/interns.js"></script>


<%- include("../../partials/admin-footer") -%>